.navbar {
  background: black;
  font-size: 1.15rem;
  padding: 0 1em;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75rem;
}

.navbarLinks {
  display: flex;
  justify-content: end;
}
